*{
	margin: 0px;
	padding: 0px;
}
 body {
 	background: #9400D3;
 	color: #000000;

 }
 #contenedor {
 	width: 1500px;
 	margin: auto;
 	margin-top: 20px;
 	margin-bottom: 20px;
 	border-radius: 20px;
 	overflow: hidden;
 } 

header {
	height: 150px;
	background:#8A2BE2;
	margin-bottom: 20px;

} 
header h1 {
	font-size: 70px;
	text-align: center;
	line-height: 150px;

}
img {
width: 1500px;	
height:1100px;
margin-bottom: 20px;
} 

footer{
	height: 150px;
	background:#8A2BE2;}
footer h2 {
	font-size: 70px;
	text-align: center;
	line-height: 150px;
	font-style: italic;
}
